* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 8rem;
    margin-left: 6rem;
    margin-right: 6rem;
    color: black;
}

.myselfContent {
    /* background-color: #53248b; */
    display: flex;
    justify-content: space-between;
}

img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: 0px 35%;
}

h2 {
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

ul {
    list-style: none;
}