<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myself</title>
</head>

<body>
    <div class="myselfContent">
        <!-- Box left -->
        <div class="myselfContentLeft">
            <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t39.30808-6/288280453_3321159451541166_5474073122704413195_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEJNcxgXyt8LKOcI1oGtRf1YIHDkOwSEEdggcOQ7BIQR3tuDFHhsC9RhsIest7xKrYSUZJ7PY17aAexundQFIvF&_nc_ohc=E_w9hRwqRhUAX-eIvI1&_nc_oc=AQlNfDlRuuuEerKmQAiSM05doSk0QPSgXU86bvt4FW5zeQ39lLqjAK4GARVQmmyzzY8&_nc_ht=scontent.fcnx2-1.fna&oh=00_AT_ZPBWLkVLtjxbWnKk3lLd2RHmS8CWB90u7VxYRRjctAQ&oe=635068EE"
                alt="profile">
            <a href="https://www.facebook.com/profile.php?id=100009414306153" target="_blank">
                <i class='bx bxl-facebook'></i>
                <h3>Panut Kaewmala</h3>
            </a>
        </div>
        <!-- Box Right -->
        <div class="myselfContentRight">
            <h2>ข้อมูลส่วนตัว</h2>
            <p>ชื่อ : นายปาณัสม์ แก้วมาลา<br>ชื่อเล่น : เกียร์<br>อายุ :
                19<br>เป็นคนที่ทำอะไรต้องทำให้ดีที่สุด<br>ทำงานละเอียด<br>ทำงานเรียบร้อย<br>ตรวจความถูกต้องเมื่อทำงานเสร็จเสมอ<br>พร้อมรับฟัง
                และแก้ไข<br>พร้อมเรียนรู้สิ่งใหม่ ๆ</p>
        </div>
        <div class="homeBoxRight">
            <h2>ประวัติการศึกษา</h2>
            <p>ระดับ : ปริญญาตรีทวิภาคปกติ<br>
                คณะ : คณะเทคโนโลยีสารสนเทศและการสื่อสาร<br>
                หลักสูตร : หลักสูตรวิศวกรรมศาสตรบัณฑิต<br>
                สาขา : วิชาวิศวกรรมซอฟต์แวร์</p>
            <h2 style="padding-top: 1.5rem;">ผลงาน</h2>
            <ul>
                <li><a href="https://github.com/Panut45?tab=repositories" target="_blank">Github</a></li>
                <li><a href="https://drive.google.com/drive/folders/1j67DiZdaurx8lAXqvqI9FCHO-7HDbU4r?usp=sharing"
                        target="_blank">ตัวอย่างเว็บ</a></li>
            </ul>
        </div>
    </div>
</body>

</html>