<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>history</title>
</head>

<body>
    <div class="entries">
        <div class="entry">
            <div class="title">2021</div>
            <div class="body">
                <p>DESK+ : Design and Font-End Developer
                    Step : Get requirement->Diagram->Figma->Dev
                    Program language : HTML/CSS Bootstrap
                    Tool : Visual studio code</p>
            </div>
        </div>
        <div class="entry">
            <div class="title">2021</div>
            <div class="body">
                <p>Shady : Full-Stack Developer
                    Step : Get requirement->Diagram->Figma->Dev
                    Program language : HTML/CSS and Django
                    Tool : Visual studio code, Github</p>
            </div>
        </div>
        <div class="entry">
            <div class="title">2022</div>
            <div class="body">
                <p>Cell : Developer
                    Step : Get requirement->Diagram->Figma->Dev
                    Program language : Flutter Dart
                    Tool : Visual studio code</p>
            </div>
        </div>
        <div class="entry">
            <div class="title big">ปัจจุบัน</div>
            <div class="body">
                <p>ทำโปรเจค Angular and Firebase
                    Learn : Developer
                    Step : Get requirement->Diagram->Figma->Dev
                    Program language : Angular and Firebase
                    Tool : Visual studio, Firebase, Fork, Github
                    ในอนาคตอยากทำโปรเจค Full stack</p>
            </div>
        </div>
        <div class="entry">
            <div class="title big">ที่ผ่านมา</div>
            <div class="body">
                <p>เคยเรียนรู้ HTML CSS TypeScript Angular Flutter Python Django SQL Firebase Bootstrap Vue
                    ปัจจุบันทำโปรเจค Angular and Firebase
                    เคยทำโปรเจค HTML/CSS and Typescript, HTML/CSS and Django, Flutter,Angular and Typescript</p>
            </div>
        </div>
    </div>
</body>

</html>